.cardstyle {
  margin-top: 40px;
  border-radius: 15px 15px 15px 15px;
  height: 110%;
  width: 110%;
}

.colstyles {
	margin-left: 10%;
  margin-right: 10%;
  transition: transform .2s;
  cursor: pointer;
}
.colstyles:hover{
    transform: scale(1.07);
}
.colstyles:hover::after{
    transition: transform 1.5s;
}